@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100vh;
  background-color: #2f363e;
}
.clock {
  position: relative;
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  background-color: #2f363e;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 100;
  background-color: #2f363e;
}

.clock span {
  position: absolute;
  inset: 15px;
  color: #fff;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}
.clock span b {
  font-size: 2em;
  opacity: 0.25;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}
.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  z-index: 10;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background-color: var(--clr);
  opacity: 0.5;
  transform-origin: bottom;
  transform: scaleY(0.5);
}
.circle:nth-child(1) i {
  width: 2px;
}
.circle:nth-child(2) i {
  width: 6px;
}
.circle2 {
  width: 240px;
  height: 240px;
  z-index: 9;
}
.circle3 {
  width: 180px;
  height: 180px;
  z-index: 8;
}
.circle::before {
  content: "";
  position: absolute;
  top: -8.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr);
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
#time,
#weather {
  text-align: center;
  margin-top: 20px;
  display: flex;
  font-size: 2em;
  font-weight: 600;
  padding: 10px 5px 10px 20px;
  border-radius: 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
#time div {
  position: relative;
  width: 60px;
  text-align: center;
  font-weight: 600;
  color: var(--clr);
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
  content: ":";
  position: absolute;
  right: -5px;
  top: 3px;
  font-size: 0.8em;
}
#time div:last-child {
  font-size: 0.6em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transform: translateX(-10px);
  opacity: 0.5;
}
#time div:nth-child(2)::after {
  animation: animate 1s steps(1) infinite;
}
#weather {
  margin-top: 10px;
  color: #fff;
  opacity: 0.5;
  padding: 10px 20px 10px 20px;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#credits {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.credits-container,
.weather-container {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f363e;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s;
  display: flex;
  flex-direction: column;
}
.credits-container a {
  color: #04fc43;
}
.hidden {
  height: 0;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

input {
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #2f363e;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
form {
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.weather-container {
  z-index: 100000;
}
.btn {
  cursor: pointer;
  padding: 10px;
  background-color: #2f363e;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
